In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120803
두 수의 차 구하기

'''
def solution(num1, num2):
    
    return num1-num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120806
두 수의 나눗셈

'''
def solution(num1, num2):
    
    return (num1/num2)*1000//1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120805
몫 구하기

'''
def solution(num1, num2):
    
    return num1//num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120810
나머지 구하기

'''
def solution(num1, num2):
    
    return num1%num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120804
두 수의 곱 구하기

'''
def solution(num1, num2):
    
    return num1*num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120829
각도기

'''
def solution(angle):
    
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    else :
        return 4

In [5]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120830
양꼬치

'''
def solution(n,k):
    
    return n*12000+k*2000 -(2000*(n//10))

solution(64,6)

768000

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120831
짝수의 합

'''
def solution(n):
    
    return sum([i for i in range(1,n+1) if i%2==0 ])

solution(10)

30

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120817
배열의 평균값

'''
def solution(numbers):
    
    return sum(numbers)/len(numbers)

solution([1,2,3,4,5,6,7,8,9,10])

5.5

In [18]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120821
배열 뒤집기

'''
def solution(numbers):
    
    return [i for i in numbers[::-1]]

solution([1, 0, 1, 1, 1, 3, 5]	)

[5, 3, 1, 1, 1, 0, 1]

In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120822
뒤집힌 문자열

'''
def solution(my_string):
    
    return my_string[::-1]

solution('jaron')

'noraj'

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120898
편지

'''
def solution(message):
    
    return len(message)*2

solution('jaron  ')

14

In [20]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120814
피자 나눠 먹기(1)

'''
def solution(n):
    
    return n//7 + (0 if n%7 == 0 else 1)

solution(8)

2

In [33]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120910
세균 증식

'''
def solution(n,t):
    return n*2**t
    

solution(7,15)

229376

In [37]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120847
최댓값 만들기(1)

'''
def solution(numbers):
    [a,b] = sorted(numbers,reverse=True)[:2]
    return a*b
    

solution([1, 2, 3, 4, 5])

20

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120585
머쓱이보다 키 큰 사람

'''
def solution(array,height):
    array.append(height)
    
    return sorted(array,reverse=True).index(height)
    
# 이게 더 깔끔하다
# def solution(array, height):
#     answer = len([i for i in array if i>height])
#     return answer

solution([149, 180, 192, 170],167)

3

In [57]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120889
삼각형의 완성 조건(1)

'''
def solution(sides:list):
    sides.sort()

    return 1 if sides[2]<sides[0]+sides[1] else 2


solution([1, 2, 3])

2