In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120803
두 수의 차 구하기

'''
def solution(num1, num2):
    
    return num1-num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120806
두 수의 나눗셈

'''
def solution(num1, num2):
    
    return (num1/num2)*1000//1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120805
몫 구하기

'''
def solution(num1, num2):
    
    return num1//num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120810
나머지 구하기

'''
def solution(num1, num2):
    
    return num1%num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120804
두 수의 곱 구하기

'''
def solution(num1, num2):
    
    return num1*num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120829
각도기

'''
def solution(angle):
    
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    else :
        return 4

In [5]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120830
양꼬치

'''
def solution(n,k):
    
    return n*12000+k*2000 -(2000*(n//10))

solution(64,6)

768000

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120831
짝수의 합

'''
def solution(n):
    
    return sum([i for i in range(1,n+1) if i%2==0 ])

solution(10)

30

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120817
배열의 평균값

'''
def solution(numbers):
    
    return sum(numbers)/len(numbers)

solution([1,2,3,4,5,6,7,8,9,10])

5.5

In [18]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120821
배열 뒤집기

'''
def solution(numbers):
    
    return [i for i in numbers[::-1]]

solution([1, 0, 1, 1, 1, 3, 5]	)

[5, 3, 1, 1, 1, 0, 1]

In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120822
뒤집힌 문자열

'''
def solution(my_string):
    
    return my_string[::-1]

solution('jaron')

'noraj'

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120898
편지

'''
def solution(message):
    
    return len(message)*2

solution('jaron  ')

14

In [20]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120814
피자 나눠 먹기(1)

'''
def solution(n):
    
    return n//7 + (0 if n%7 == 0 else 1)

solution(8)

2

In [33]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120910
세균 증식

'''
def solution(n,t):
    return n*2**t
    

solution(7,15)

229376

In [37]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120847
최댓값 만들기(1)

'''
def solution(numbers):
    [a,b] = sorted(numbers,reverse=True)[:2]
    return a*b
    

solution([1, 2, 3, 4, 5])

20

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120585
머쓱이보다 키 큰 사람

'''
def solution(array,height):
    array.append(height)
    
    return sorted(array,reverse=True).index(height)
    
# 이게 더 깔끔하다
# def solution(array, height):
#     answer = len([i for i in array if i>height])
#     return answer

solution([149, 180, 192, 170],167)

3

In [57]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120889
삼각형의 완성 조건(1)

'''
def solution(sides:list):
    sides.sort()

    return 1 if sides[2]<sides[0]+sides[1] else 2


solution([1, 2, 3])

2

In [59]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120833
배열 자르기

'''
def solution(numbers:list,num1,num2):
    

    return numbers[num1:num2+1]


solution([1, 2, 3, 4, 5],1,3)

[2, 3, 4]

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120816
피자 나눠 먹기(3)

피자를 2~10조각으로 잘라줌
n명의 사람이 최소 한조각 이상

1판을 7조각으로 사람은 10명 2판시키면 14조각으로 1조각이상 씩 먹을 수 잇음. 
'''
def solution(slice,n):

    return n//slice + (0 if n%slice==0 else 1)


solution(4,12)

3

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120841
점의 위치 구하기

'''
def solution(dot:list):

    if dot[0] > 0 and dot[1] > 0:
        return 1
    elif dot[0] < 0 and dot[1] > 0:
        return 2
    elif dot[0] < 0 and dot[1] < 0:
        return 3
    elif dot[0] > 0 and dot[1] < 0:
        return 4

solution([2, 4])

1

In [68]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120903
배열의 유사도

'''
# def solution(s1:list,s2:list):
#     count =0
#     for i in s1:
#         for j in s2:
#             if i==j:
#                 count+=1 

#     return count

def solution2(s1:list,s2:list):

    return len(set(s1)&set(s2))

def solution(s1:list,s2:list):

    return sum([1 for i in s1 if i in s2])


solution(["a", "b", "c"],["com", "b", "d", "p", "c"])

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120836
순서쌍의 개수
예전에 풀었을 때랑 완전 똑같이 풀었음
'''

def solution(n):
    count =0
    for i in range(1,n+1):
        if n%i ==0:
            count+=1 

    return count

# 위 코드 한줄로 줄이기
def solution(n):

    return len( [i for i in range(1,n+1) if n%i==0 ])


# 다른사람이 푼 것 시간을 반으로 단축했음
def solution(n):
    answer = 0
    for i in range(1, int(n ** 0.5) + 1):
        if n % i == 0:
            answer += 2

            if i * i == n:
                answer -= 1

    return answer

solution(20)

6

In [100]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120905
n의 배수 고르기

'''

def solution(n, numlist:list):
    

    return [i for i in numlist if i%n==0]


solution(3,[4, 5, 6, 7, 8, 9, 10, 11, 12])

[6, 9, 12]

In [101]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120854
배열 원소의 길이

'''

def solution(strlist):
    

    return [len(i) for i in strlist ]


solution(["We", "are", "the", "world!"])

[2, 3, 3, 6]

In [104]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120819
아이스 아메리카노

'''

def solution(money):
    ice_am = 5500

    resert = [money//ice_am,money%ice_am]

    return resert


solution(15000)

[2, 4000]

In [110]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120908
문자열안에 문자열

'''

def solution(str1:str,str2:str):

    try:
        str1.index(str2)
        return 1
    except:
        return 2

    
def solution(str1:str,str2:str):

    return 1 if str1.find(str2) >= 0 else 2

solution("ab6CDE443fgh22iJKlmn1o","6CD")

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120825
문자 반복 출력하기

'''

def solution(my_string:str,n):
    return "".join((map(lambda x : x*n,my_string)))

solution("hello",3)

'hhheeellllllooo'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120909
제곱수 판별하기

'''

def solution(n):
    
    return 1 if  int(n**0.5)**2 == n else 2

    

solution(145)

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120826
특정 문자 제거하기

'''
def solution(my_string:str,letter:str):
    
    return my_string.replace(letter,"")

    
solution("abcdef","f")

'abcde'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120849
모음 제거

'''
def solution(my_string:str):
    
    #mu = ['a', 'e', 'i', 'o', 'u']
    mu = 'aeiou'

    return ''.join(i for i in my_string if i not in mu)

    
solution("bus")

'bs'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120824
짝수 홀수 개수

'''
def solution(num_list:list):
    
    a,b = [],[]
    [ a.append(i) if i%2==0 else b.append(i) for i in num_list]
    return [len(a),len(b)]

    
solution([1, 2, 3, 4, 5])

[2, 3]

In [2]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120906
자릿수 더하기

'''
def solution(n):
    return sum(map(int,list(str(n))))
    

    
solution(1234)

10

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181940
문자열 곱하기

'''
def solution(my_string, k):

    return my_string*k
    

    
solution("string",3)

10

In [6]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181929
원소들의 곱과 합

'''
def solution(num_list:list):
    s = sum(num_list)**2
    x = 1
    for i in num_list:
        x*=i

    if x>s:
        return 0
    else:
        return 1
    

    
solution([3, 4, 5, 2, 1])

1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181933
flag에 따라 다른 값 반환하기

'''
def solution(a, b, flag):
    
    return a+b if flag else a-b

solution(-4,7,true)

3

In [18]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181935
홀짝에 따라 다른 값 반환하기

'''
def solution(n):
    
    if n%2==0:
        # 짝수
        return sum([i**2 for i in range(2,n+1,2)])
    else:
        # 홀수
        return sum([i for i in range(1,n+1,2)])

solution(7)

16

In [20]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181892
n 번째 원소부터
'''
def solution(num_list, n):
    return num_list[n-1:]

solution([2, 1, 6],	3)

[6]

In [24]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181910
문자열의 뒤의 n글자
'''
def solution(my_string, n):
   return my_string[-n:] 

solution("ProgrammerS123",11)

'grammerS123'

In [25]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181937
n의 배수
'''
def solution(num, n):
    answer = 0
    return 1 if num%n==0 else 0

solution(98,2)

1

In [26]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181888
n개 간격의 원소들
'''
def solution(num_list:list, n):
    answer = []
    return num_list[::n]

solution([4, 2, 6, 1, 7, 6],	2)

[4, 6, 7]

In [35]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181938
두 수의 연산값 비교하기
'''
def solution(a, b):
    ab1 = int(str(a)+str(b))
    ab2 = 2*a*b

    return ab1 if ab1>ab2 else ab2

solution(91,2)

912

In [37]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181889
n 번째 원소까지
'''
def solution(num_list, n):
    
    return num_list[:n]

solution([5, 2, 1, 7, 5],3)

[5, 2, 1]

In [38]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181889
문자열 붙여서 출력하기
'''
def solution(str1, str2):
    
    return str1+str2

solution("apple" ,"pen")

'applepen'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181928
이어 붙인 수
'''
def solution(num_list):
    a,b = [],[]
    for i in num_list:
        a.append(i) if i%2==0 else b.append(i)

    return int("".join(map(str,a)))+int("".join(map(str,b)))

def solution(num_list):
    a,b = "",""
    for i in num_list:
        if i%2==0:
           a+=str(i)
        else:
            b+=str(i)

    return int(a)+int(b)

solution([3, 4, 5, 2, 1])

393

In [13]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181896
첫 번째로 나오는 음수
'''
def solution(num_list):
    
    for i,j in enumerate(num_list):
        if j<0:
            return i
    return -1



solution([13, 22, 53, 24, 15, 6])

-1

In [20]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181908
접미사인지 확인하기
'''
def solution(my_string, is_suffix):
    
    for i in range(len(my_string)):
        if my_string[i:]==is_suffix:
            return 1
    return 0
    
def solution(my_string, is_suffix):
    
    return int(my_string[-len(is_suffix):] == is_suffix)

solution("banana","ana1")

0

In [21]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120583
중복된 숫자 개수
'''
def solution(array,n):
    
    
    return len([i for i in array if i==n])


solution([1, 1, 2, 3, 4, 5],1)

2

In [34]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120811
중앙값 구하기
'''
def solution(array):
    
    
    return sorted(array)[len(array)//2]


solution([1])

1

In [37]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120813
짝수는 싫어요
'''
def solution(n):
    
    
    return [i for i in range(1,n+1) if i%2!=0]


solution(15)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120818
옷가게 할인 받기
'''
def solution(n):
    
    if n>=100000 and n<300000:
        return int(n*0.95)
    elif n>=300000 and n<500000:
        return int(n*0.9)
    elif n>=500000:
        return int(n*0.8)
    
    return n

def solution(n):
    
    sale = {500000:0.8,300000:0.9,100000:0.95}

    for k,v in sale.items():
        if n>=k:
            return int(n*v)
    return n


solution(300000)

270000.0

In [15]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120823
직각삼각형 출력하기
'''
def solution(n):
    
    for i in range(1,n+1):
        print('*'*i)


solution(3)

*
**
***

In [23]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120837
개미 군단
'''
def solution(hp):
    dic = [5,3,1]
    count = 0

    for v in dic:
        # i,hp = hp//v,hp%v
        i,hp = divmod(hp,v)

        count+=i

    return count

solution(999)

201

In [26]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120839
가위 바위 보
'''
def solution(rsp):
    dic = {'2':'0','0':'5','5':'2'}
    # s=""
    # for i in rsp:
    #     s+=dic[i]
    # return s

    return ''.join(dic[i]for i in rsp)
solution('205')

'052'

In [29]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120845
주사위의 개수
'''
import math

def solution(box,n):
    
    # return math.prod([i//n for i in box])
    return math.prod(map(lambda x : x//n,box))

solution([10, 8, 6],3)

12

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120850
문자열 정렬하기(1)
'''

def solution(my_string):
    
    return sorted([ int(i) for i in my_string if i.isdigit() ])
    
solution("hi12392")

[1, 2, 2, 3, 9]

In [3]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181936
공배수
'''

def solution(number, n, m):
    if number%n==0 and number%m==0:
        return 1
    else:
        return 0
    
solution(55,10,5)

0

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181877
대문자로 바꾸기
'''

def solution(myString):
    
    return myString.upper()
    
solution("aBcDeFg")

'ABCDEFG'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181941
문자 리스트를 문자열로 변환하기
'''

def solution(arr):

    return "".join(arr)
    
solution(["a","b","c"])

'ABCDEFG'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120862
최댓값 만들기(2)
'''

def solution(arr):
    arr.sort()
    return max([arr[0]*arr[1],arr[-1]*arr[-2]])
    
solution([0, -31, 24, 10, 1, 9])

[-31, 0, 1, 9, 10, 24]

240

In [2]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120911
문자열 정렬하기 (2)
'''

def solution(my_string:str):
    return ''.join(sorted(my_string.lower()))

    
solution("Bcad")

'abcd'

In [5]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120899
가장 큰 수 찾기
'''

def solution(array:list):
    mx = max(array)

    return [max(array) , array.index(max(array))]

    
solution([1, 8, 3])

[8, 1]

In [35]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120897
약수 구하기
'''

def solution(n:int):
    result = []
    for i in range(1,(n+1)//2+1):

        if n%i==0:
            result +=[i,int(n/i)]
        
    return sorted(set(result))

    
solution(9)

[1, 3, 9]

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120895
인덱스 바꾸기
'''

def solution(my_string:str,num1,num2):
    my_string = list(my_string)
    my_string[num1],my_string[num2] =my_string[num2],my_string[num1]
    
    return ''.join(my_string)
#y_string.replace(my_string[num1],my_string[num2])

    
solution("hello",1,2)

'hlelo'

In [50]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120892
암호 해독
'''

def solution(cipher:str,code):
    
    
    return cipher[code-1::code]


    
solution("dfjardstddetckdaccccdegk",4)

'attack'

In [51]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120893
대문자와 소문자
'''

def solution(my_string:str):
    
    
    return my_string.swapcase()


    
solution("cccCCC")

'CCCccc'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181906
접두사인지 확인하기
'''

def solution(my_string, is_prefix):
    
    return 1 if my_string[:len(is_prefix)]==is_prefix else 0


    
solution("banana",'ban')

1

In [56]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181915
글자 이어 붙여 문자열 만들기
'''

def solution(my_string:str, index_list:list):
    answer = ''.join( my_string[i] for i in index_list )
    return answer


    
solution("cvsgiorszzzmrpaqpe",[16, 6, 5, 3, 12, 14, 11, 11, 17, 12, 7])

'programmers'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181919
콜라츠 수열 만들기
'''

def solution(n):
    answer = [n]

    while answer[-1]!=1:

        # 짝수 일 때
        if n%2==0:
            n/=2
        else:
            n=n*3+1
        answer.append(int(n))

    return answer


    
solution(10)

[10, 5, 16, 8, 4, 2, 1]

In [59]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181926
수 조작하기 1
'''

def solution(n, control):
    answer = {'w':1,'s':-1,'d':10,"a":-10}

    for i in control:
        n+=answer[i]

    return n


    
solution(0,	"wsdawsdassw")

-1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181930
주사위 게임 2
'''

def solution(a, b, c):
    a = [a,b,c]
    lens = len(set(a))

    if lens==3:
        return sum(a)
    elif lens ==2:
        return sum(a)*sum(map(lambda x:x**2,a))
    elif lens ==1:
        return sum(a)*sum(map(lambda x:x**2,a))*sum(map(lambda x:x**3,a))

    return lens

    
solution(2,6,1)
solution(5,3,3)
solution(4,4,4)

110592

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181873
특정한 문자를 대문자로 바꾸기
'''

def solution(my_string:str, alp):
    
    for i in my_string:
        
        if i==alp:
            print(1)
            my_string.replace(i,"f")

    return my_string
    
solution("programmers","p")

1

'programmers'