In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120803
두 수의 차 구하기

'''
def solution(num1, num2):
    
    return num1-num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120806
두 수의 나눗셈

'''
def solution(num1, num2):
    
    return (num1/num2)*1000//1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120805
몫 구하기

'''
def solution(num1, num2):
    
    return num1//num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120810
나머지 구하기

'''
def solution(num1, num2):
    
    return num1%num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120804
두 수의 곱 구하기

'''
def solution(num1, num2):
    
    return num1*num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120829
각도기

'''
def solution(angle):
    
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    else :
        return 4

In [5]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120830
양꼬치

'''
def solution(n,k):
    
    return n*12000+k*2000 -(2000*(n//10))

solution(64,6)

768000

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120831
짝수의 합

'''
def solution(n):
    
    return sum([i for i in range(1,n+1) if i%2==0 ])

solution(10)

30

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120817
배열의 평균값

'''
def solution(numbers):
    
    return sum(numbers)/len(numbers)

solution([1,2,3,4,5,6,7,8,9,10])

5.5

In [18]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120821
배열 뒤집기

'''
def solution(numbers):
    
    return [i for i in numbers[::-1]]

solution([1, 0, 1, 1, 1, 3, 5]	)

[5, 3, 1, 1, 1, 0, 1]

In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120822
뒤집힌 문자열

'''
def solution(my_string):
    
    return my_string[::-1]

solution('jaron')

'noraj'

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120898
편지

'''
def solution(message):
    
    return len(message)*2

solution('jaron  ')

14

In [20]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120814
피자 나눠 먹기(1)

'''
def solution(n):
    
    return n//7 + (0 if n%7 == 0 else 1)

solution(8)

2

In [33]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120910
세균 증식

'''
def solution(n,t):
    return n*2**t
    

solution(7,15)

229376

In [37]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120847
최댓값 만들기(1)

'''
def solution(numbers):
    [a,b] = sorted(numbers,reverse=True)[:2]
    return a*b
    

solution([1, 2, 3, 4, 5])

20

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120585
머쓱이보다 키 큰 사람

'''
def solution(array,height):
    array.append(height)
    
    return sorted(array,reverse=True).index(height)
    
# 이게 더 깔끔하다
# def solution(array, height):
#     answer = len([i for i in array if i>height])
#     return answer

solution([149, 180, 192, 170],167)

3

In [57]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120889
삼각형의 완성 조건(1)

'''
def solution(sides:list):
    sides.sort()

    return 1 if sides[2]<sides[0]+sides[1] else 2


solution([1, 2, 3])

2

In [59]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120833
배열 자르기

'''
def solution(numbers:list,num1,num2):
    

    return numbers[num1:num2+1]


solution([1, 2, 3, 4, 5],1,3)

[2, 3, 4]

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120816
피자 나눠 먹기(3)

피자를 2~10조각으로 잘라줌
n명의 사람이 최소 한조각 이상

1판을 7조각으로 사람은 10명 2판시키면 14조각으로 1조각이상 씩 먹을 수 잇음. 
'''
def solution(slice,n):

    return n//slice + (0 if n%slice==0 else 1)


solution(4,12)

3

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120841
점의 위치 구하기

'''
def solution(dot:list):

    if dot[0] > 0 and dot[1] > 0:
        return 1
    elif dot[0] < 0 and dot[1] > 0:
        return 2
    elif dot[0] < 0 and dot[1] < 0:
        return 3
    elif dot[0] > 0 and dot[1] < 0:
        return 4

solution([2, 4])

1

In [68]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120903
배열의 유사도

'''
# def solution(s1:list,s2:list):
#     count =0
#     for i in s1:
#         for j in s2:
#             if i==j:
#                 count+=1 

#     return count

def solution2(s1:list,s2:list):

    return len(set(s1)&set(s2))

def solution(s1:list,s2:list):

    return sum([1 for i in s1 if i in s2])


solution(["a", "b", "c"],["com", "b", "d", "p", "c"])

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120836
순서쌍의 개수
예전에 풀었을 때랑 완전 똑같이 풀었음
'''

def solution(n):
    count =0
    for i in range(1,n+1):
        if n%i ==0:
            count+=1 

    return count

# 위 코드 한줄로 줄이기
def solution(n):

    return len( [i for i in range(1,n+1) if n%i==0 ])


# 다른사람이 푼 것 시간을 반으로 단축했음
def solution(n):
    answer = 0
    for i in range(1, int(n ** 0.5) + 1):
        if n % i == 0:
            answer += 2

            if i * i == n:
                answer -= 1

    return answer

solution(20)

6

In [100]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120905
n의 배수 고르기

'''

def solution(n, numlist:list):
    

    return [i for i in numlist if i%n==0]


solution(3,[4, 5, 6, 7, 8, 9, 10, 11, 12])

[6, 9, 12]

In [101]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120854
배열 원소의 길이

'''

def solution(strlist):
    

    return [len(i) for i in strlist ]


solution(["We", "are", "the", "world!"])

[2, 3, 3, 6]

In [104]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120819
아이스 아메리카노

'''

def solution(money):
    ice_am = 5500

    resert = [money//ice_am,money%ice_am]

    return resert


solution(15000)

[2, 4000]

In [110]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120908
문자열안에 문자열

'''

def solution(str1:str,str2:str):

    try:
        str1.index(str2)
        return 1
    except:
        return 2

    
def solution(str1:str,str2:str):

    return 1 if str1.find(str2) >= 0 else 2

solution("ab6CDE443fgh22iJKlmn1o","6CD")

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120825
문자 반복 출력하기

'''

def solution(my_string:str,n):
    return "".join((map(lambda x : x*n,my_string)))

solution("hello",3)

'hhheeellllllooo'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120909
제곱수 판별하기

'''

def solution(n):
    
    return 1 if  int(n**0.5)**2 == n else 2

    

solution(145)

2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120826
특정 문자 제거하기

'''
def solution(my_string:str,letter:str):
    
    return my_string.replace(letter,"")

    
solution("abcdef","f")

'abcde'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120849
모음 제거

'''
def solution(my_string:str):
    
    #mu = ['a', 'e', 'i', 'o', 'u']
    mu = 'aeiou'

    return ''.join(i for i in my_string if i not in mu)

    
solution("bus")

'bs'

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120824
짝수 홀수 개수

'''
def solution(num_list:list):
    

    a,b = [],[]
    [ a.append(i) if i%2==0 else b.append(i) for i in num_list]
    return [len(a),len(b)]

    
solution([1, 2, 3, 4, 5])

[2, 3]

In [98]:
int(100**0.5)

10