In [1]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120803
두 수의 차 구하기

'''
def solution(num1, num2):
    
    return num1-num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120806
두 수의 나눗셈

'''
def solution(num1, num2):
    
    return (num1/num2)*1000//1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120807
숫자 비교하기

'''
def solution(num1, num2):
    
    return 1 if num1==num2 else -1

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120805
몫 구하기

'''
def solution(num1, num2):
    
    return num1//num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120810
나머지 구하기

'''
def solution(num1, num2):
    
    return num1%num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120804
두 수의 곱 구하기

'''
def solution(num1, num2):
    
    return num1*num2

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120829
각도기

'''
def solution(angle):
    
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    else :
        return 4

In [5]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120830
양꼬치

'''
def solution(n,k):
    
    return n*12000+k*2000 -(2000*(n//10))

solution(64,6)

768000

In [11]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120831
짝수의 합

'''
def solution(n):
    
    return sum([i for i in range(1,n+1) if i%2==0 ])

solution(10)

30

In [ ]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120817
배열의 평균값

'''
def solution(numbers):
    
    return sum(numbers)/len(numbers)

solution([1,2,3,4,5,6,7,8,9,10])

5.5

In [18]:
'''
https://school.programmers.co.kr/learn/courses/30/lessons/120821
배열 뒤집기

'''
def solution(numbers):
    
    return [i for i in numbers[::-1]]

solution([1, 0, 1, 1, 1, 3, 5]	)

[5, 3, 1, 1, 1, 0, 1]